<router-outlet (activate)="onActivate($event)"></router-outlet>
<section class="courts">
    <div class="container-fluid">
        <div class="main_heading">
            <h3>Courts</h3>
        </div>
        <div class="courts-list">
            <h5>List of Courts </h5>
            <div class="row">
                <div *ngIf="this.userDetails?.type?.toLowerCase() != 'academyadmin'">
                    <form #aF="ngForm">
                        <div class="col-sm-8">
                            <div class="col-sm-3">
                                <div class="addcourts">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Sport" name="sport" [(ngModel)]="formData.sport" [ngClass]="{'disableEit': showCourtEdit}" [disabled]="showCourtEdit">
                                            <mat-option *ngFor="let sport of masterSportsList; let i=index;" [value]=sport.id>{{sport.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="addsportname">
                                    <mat-form-field>
                                        <input class="captilize" matInput (keypress)="alphabets_Space_NumberOnly($event)" maxlength="20" placeholder="Enter Court Name *" name="name" [autocomplete]="'off'" [(ngModel)]="formData.name">
                                    </mat-form-field>
                                </div>
                                <div class="addbtn">
                                    <button *ngIf="!showCourtEdit" type="button" class="addsport" appDebounceClick (debounceClick)='addCourt()' [debounceTime]="1000">Add Court</button>
                                    <button *ngIf="showCourtEdit" type="button" appDebounceClick (debounceClick)='updateCourt()' [debounceTime]="1000" class="update">Update</button>
                                    <button *ngIf="showCourtEdit" type="button" (click)="formData = {};showCourtEdit=false" class="cancel-1">cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="courtslistview">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" [ngClass]="{'noDataDataTable' : dtCourtsList?.length == 0}" id="style-3" class="row-border table-striped hover scrool-courts scrollbar">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th class="crt_name" style=" width: 210px">Sport Name</th>
                                    <th class="crt_name-1" style="width: 210px">Name</th>
                                    <th class="crt_name text-center">Added on</th>
                                    <th class="crt_name" style="width: 210px " *ngIf="this.userDetails?.type?.toLowerCase() != 'academyadmin'">Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="dtCourtsList?.length == 0">
                                <tr>
                                    <td colspan="9" class="nodata">No data found</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="dtCourtsList?.length != 0">
                                <tr *ngFor="let court of dtCourtsList">
                                    <td>{{ court.slNo }}</td>
                                    <td class="captilize">{{ court.sport_name }}</td>
                                    <td class="captilize wrd-brk" style="width: 120px;">{{ court.name }}</td>
                                    <td class="captilize wrd-brk text-center" style="width: 120px;" *ngIf="this.userDetails?.type?.toLowerCase() != 'academyadmin'">{{ court.created_date }}</td>
                                    <td class="captilize wrd-brk text-center" style="width: 120px;" *ngIf="this.userDetails?.type?.toLowerCase() == 'academyadmin'">{{ court.created_date | date: "dd-MMM-yyyy" }}</td>
                                    <td *ngIf="this.userDetails?.type?.toLowerCase() != 'academyadmin'">
                                        <span class="editicon"><i class="fa fa-pencil" aria-hidden="true" matTooltip="Edit"
                          matTooltipPosition="above" (click)="edidCourt(court._id)"></i></span>
                                        <span class="delete"><i class="fa fa-trash-o" aria-hidden="true" matTooltip="Delete"
                          (click)="deleteId = court._id" data-toggle="modal" data-target="#myModal2"
                          matTooltipPosition="above"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal 2-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content mdl_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title title-1">Are you sure you want delete this file</h4>
            </div>
            <div class="modal-body model-bdy">
                <button type="button" class="yes" data-dismiss="modal" (click)="deleteCourt(deleteId)">Yes</button>
                <button type="button" class="no" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>