<section *ngIf="displayFooter" class="footer">
    <!-- <section class="footer"> -->
    <div class="container">
        <div class="footer_head">
            <div class="row">
                <div class="col-sm-5">
                    <div class="phone">
                        <p>Tel : 80088 80044 | <span>Email : athliosportsindia@gmail.com</span></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="socialicons">
                        <a href=" https://www.facebook.com/AthlioSportsIndia/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" matTooltip="Facebook" matTooltipPosition="above"></i></a>
                        <a href="  https://twitter.com/AthlioSportsInd" target="_blank"> <i class="fa fa-twitter" aria-hidden="true" matTooltip="Twitter" matTooltipPosition="above"></i></a>
                        <a href="  https://www.instagram.com/athliosportsindia/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true" matTooltip="Instagram" matTooltipPosition="above"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="developed">
                        <p>&copy; 2020 by <a href="https://athliosports.com/" target="_blank">Athlio,</a> developed by <span><a href="https://www.yitsol.com/" target="_blank"><img src="../../../assets/images/yitsolLogo.png" alt="YITSOL"></a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>