<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../../../assets/images/Athlio_Logo_Alpha_web.png"></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder iconspace">
            <ul class="nav navbar-nav navbar-right">
                <li class="mTop "><a href="https://athliosports.com/" target="_blank">Home</a>
                </li>
                <li class="mTop"><a href="https://athliosports.com/products" target="_blank">What</a>
                </li>
                <li class="mTop"><a href="https://athliosports.com/reach-us" target="_blank">Where</a>
                </li>
                <li class="mTop"><a routerLink="/" routerLinkActive="active-link">Login</a>
                </li>
                <li class="">
                    <a href="">
                        <a href=" https://www.facebook.com/AthlioSportsIndia/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" matTooltip="Facebook" matTooltipPosition="above"></i></a>
                        <a href="https://twitter.com/AthlioSportsInd" target="_blank"> <i class="fa fa-twitter" aria-hidden="true" matTooltip="Twitter" matTooltipPosition="above"></i></a>
                        <a href="https://www.instagram.com/athliosportsindia/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true" matTooltip="Instagram" matTooltipPosition="above"></i></a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>