.courts {
    background-color: #fff;
    margin: 10px 0px;
    padding: 0px 10px 10px 10px;
    border-radius: 4px;
}

.courts-list h5 {
    font-family: Gotham-Bold;
    font-weight: 600;
}

.courts-list {
    margin-bottom: 10px;
}

.addcourts {
    margin-top: 20px;
}

.discountfields {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.discountfields-1 {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.addbtn {
    text-align: right;
}

.addbtn button {
    padding: 6px 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    color: #fff;
    text-transform: capitalize;
}

.update {
    background-color: #0e900e;
}

.update:hover {
    background-color: #0c790c;
}

.cancel-1 {
    background-color: #c33939;
}

.cancel-1:hover {
    background-color: #bb1b1b;
}

.addsport {
    background-color: #85bd18;
}

.addsport:hover {
    background-color: #71a50c;
}

.courtslistview table thead {
    background-color: #fff;
    color: #000;
}

.editicon i {
    color: #e04545d9;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
}

.delete i {
    color: #eb070c;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.view i {
    color: #3089d6;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
}

.courtslistview table tbody {
    border: 1px solid #ccc;
}

.scrool-courts {
    /* display: block; */
    max-height: 346px;
    overflow-y: scroll;
    width: 100% !important;
}

.courtslistview table thead tr th {
    font-weight: normal;
    border: none;
}

.disableEit {
    cursor: no-drop;
}

.discounts-form {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 6px 14px 0px #ccc;
}