<section class="privacy">
    <div class="container-fluid">
        <div class="policy">
            <h2><span>Privacy Policy</span></h2>
            <p>This privacy policy applies to the entire contents of the platform “ATHLIO” which may be referred to hereon in as "we" or "us" or "our" (as applicable)] including, without limitation.</p>
            <p>Please read the Privacy Policy below carefully before using Athlio Sports Platform. By using or registering on Athlio Sports Platform, you accept and agree to the terms of this Privacy Policy. If you do not accept these terms, you are hereby
                advised not to access Athlio Sports Platform.</p>
            <p>The Users are responsible for ensuring their information is current and accurate. The User may update their information through the ‘My Profile’ section of the platform and we will use reasonable efforts to process any change the User makes;
                provided, however, that requests to delete information are subject to Athlio Sports internal reporting, processing and retention policies and all applicable legal obligations and existing legislations.
            </p>
            <p>We at Athlio Sports are committed to preserving the privacy of all visitors to our platform Athlio Sports. We are committed to ensuring that all activities made available via the platform Athlio Sports will be provided in a safe and secure
                online environment. By accepting the Athlio Sports Privacy Policy and the Terms & Conditions at the time of registration, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy.
                This Privacy Policy is incorporated into and subject to the Athlio Sports Terms & Conditions. This Privacy Policy is effective upon acceptance in registration for new registering Users.</p>
            <p>This Privacy Policy works in conformance to the relevant rules, amendments and notifications as promulgated by the Ministry of Communication and Information Technology, Government of India read with the prevailing sections under the Information
                Technology Act, 2000 (21 of 2000) read with relevant rules issued under the Information Technology Act, 2000.
            </p>

            <h4>Your Privacy: Our Commitment</h4>
            <p>At Athlio Sports, we are committed to protect your privacy and recognise that you have a right to know about the information we access or collect about you, how your information is being used by us and what we do to protect your information.
                Please read the following policy to understand how your personal information shall be treated by Athlio Sports platform. Our commitment towards privacy and protection of User data is based on the principles of lawfulness, transparency,
                fairness, accuracy, data minimisation, integrity and confidentiality.</p>

            <h4>What does this Privacy Policy Cover?</h4>
            <p>This Privacy Policy is part of the Athlio Sports Terms & Conditions and covers the treatment of user information, including personally identifying information, obtained by Athlio Sports including information obtained when you access the Athlio
                Sports platform or any other software provided by Athlio Sports and any information that you may share through use of the Athlio Sports platform.</p>
            <p>Athlio Sports (“Athlio Sports, we, us”) recognizes that people who register on and subsequently use Athlio Sports platform (“you” or “Users” or “Registered Users” or “Members” ) value their privacy. This Privacy Policy details important information
                regarding the collection, use and disclosure of User information collected on Athlio Sports platform, the related mobile app, and any other features, tools, materials, or other services (including affiliated services) offered from time
                to time by Athlio Sports or its affiliates. Athlio Sports provides this Privacy Policy to help you make an informed decision about whether to use or continue using the Service.</p>
            <p>This Privacy Policy should be read in conjunction with our Terms & Conditions. By accessing Athlio Sports, you are consenting to the collection and use of the information described in this Privacy Policy. The terms of this Privacy Policy apply
                and extends to Members and the Parents, whereas the rights ascribed to Users under this Privacy Policy extend and apply in equal measure to Members and the Parents.</p>
            <p>The User’s use of Athlio Sports and any information the User may provide through the platform remains subject to the terms of this Privacy Policy and our Terms & Conditions, as each may be updated from time to time.</p>
            <p>The User through access of Athlio Sports and acceptance of this Privacy Policy, hereby warrants and accepts that he/she has given his/her explicit and unequivocal consent to Athlio Sports for collection and processing of his/her personal information
                and that the said collection and processing of his/her personal information is necessary for Athlio Sports to fulfil their obligations for the provision of Athlio Sportsplatform to the said User and the User’s participation on the said
                platform.
            </p>
            <p>The User hereby accepts and agrees that the Athlio Sports platform shall be available and accessible only to Users situated within the territorial boundaries of the Republic of India.</p>

            <h4>COLLECTION OF INFORMATION</h4>
            <p>1 A. This Athlio Sports platform may collect personal information (personal, physical educational, location, device, interests, and other similar information) about the prospective athletes and talents (“Members”) who have been registered
                on the Athlio Sports platform by Registered Users. The information collected by the said platform shall depend on the portion of the said platform being used by the User and may vary from time to time which will be informed through changes
                in this policy.</p>
            <p>1 B. The terms of this Privacy Policy shall apply to the User as well as the Members including their lawful guardians and/or parents.. The rights, obligations, duties and liabilities ascribed to the User shall also extend to the Members and
                their lawful guardians and/or parents. </p>
            <p>1 C. The Athlio Sports platform is available to all Users, irrespective of whether they are registered and/or unregistered Users.</p>
            <p>1 E The information may be collected from the User in a number of ways which may include collecting personal information [including but not limited to Name, Password (to be created by the User), Mobile Number, Email Address, Date of Birth,
                Gender (Male/Female/Transgender), Preferred/Favourite Sport (optional), Locations, etc.), if the User chooses to create an account with us, thereby agreeing with the Terms and Conditions and accepting the Privacy Policy of Athlio Sports
                Platform while entering the same.</p>
            <p>1 F When you use our mobile app, you hereby consent to us to access the features of your mobile device such as the phone number, dialler, your contacts, email, GPS location, Camera, Gallery, Microphone, IMEI number of your device, whether
                a phone call is active, the number that the phone call is connected to and the like. The access to your mobile phone device features is used to stop the radio commentary and terminate the internet access when you make or receive a call
                without any disruption.</p>
            <p>1 G. When you use our mobile app, we also may collect mobile device information like operating system and hardware type, numbers or codes that are unique to your particular device (such as IDFA or an Android Ad ID), device information, default
                device language, the location of your device (at a GPS level), and app usage information. This data also may be linked to your other information, including your location data.</p>

            <h4>USE OF INFORMATION</h4>
            <p>1 We may use your personal information to operate and maintain the Athlio Sports platform. The information may also be used to provide to you the features and functionality of the platform, including but not limited to the following:</p>

            <ul>
                <li> providing you with regular updates;</li>
                <li>processing and responding to your enquiries or feedback;</li>
                <li>personalizing your use of the platform,</li>
                <li>alerting you to new features, special events, or certain third-party products or services in which we think you may be interested;</li>
                <li>enforcing the legal terms and conditions that govern your use of the platform;</li>
                <li>investigating and protecting the integrity of Athlio Sports platform; and</li>
                <li>contacting you about your account or profile.</li>
            </ul>
            <p>2 We may use your information to communicate with you about:</p>
            <p>1 Newsletters and information for which you have signed up; and non-marketing or administrative purposes (such as notifying you of major changes to the Athlio Sports platform or for customer support/feedback purposes).</p>
            <p>2 We use your information to improve the quality and design of our platform and to create new features, promotions (if any), and functionality such as by storing, tracking, and analysing user preferences and trends.</p>
            <p>3 We also use cookies, log file information, and mobile app information such as device identifiers for purposes such as (a) remembering information so that you will not have to re-enter it during your visit or the next time you visit our platform;
                (b) providing custom, personalized content and information; (c) monitoring the effectiveness of our marketing campaigns; and (d) monitoring aggregate metrics such as total number of visitors, pages viewed, etc.</p>
            <p>4 We may anonymize, de-identify, or aggregate your information for any legitimate business purposes, including for reporting and research. Such anonymized and/or aggregated data does not personally identify you. Sometimes, this information
                may be used to target more relevant content or offers to you across different devices – for instance, we may provide you with offers (if any) and content on your mobile device, based on your web-based activity.</p>
            <p>5 We may disclose the information provided to us by the User for any other reason the User provided us with the said information.</p>

            <h4>FEEDBACK/CUSTOMER SUPPORT</h4>
            <p>1 All telephone and/or email conversations from the Users to our Feedback/Customer Support Centre may be recorded both to assist us in training and in quality management, and to allow for the speedy resolution of the queries.</p>
            <p>2 All communications with Athlio Sports and its Feedback/Customer Support shall be conducted in Parliamentary language (language which is not offensive and/or abusive). Athlio Sports prevents and prohibits any such use of offensive and/or
                abusive language and strictest of actions shall be taken against the User who uses such offensive and/or abusive language including but not limited to suspension and/or termination of the User Account.</p>

            <h4>USER’S CHOICES</h4>
            <p>1 Athlio Sports will process your personal information in accordance with this Privacy Policy, and as part of that Athlio Spots provides you with certain choices about how we process your personal information.</p>
            <p>2 You can access and update certain personal information Athlio Sports holds about you at any time by logging into your account via the platform.</p>
            <p>3 We may occasionally send you push notifications to your mobile device. You can turn off certain push notifications in the account settings of your Athlio Sports Account. You can also turn off push notifications specific to our platform in
                the settings on your device.</p>

            <h4>INFORMATION SECURITY:</h4>
            <p>We are committed to protecting the security of your personal information. Protection of the User Information, including the registration details the User provides to us, is a priority for us. We use a variety of security technologies and procedures
                to help protect your personal information from unauthorized access, use, or disclosure.</p>
            <p>Any personal information which identifies the User will be encrypted at all times whilst in transit over the internet. The technology used by us encrypts any information sent by the User on secured pages. Our server then reads the information
                using a private key. This means that your information is turned into a code that can only be decoded with the private key or password.</p>
            <p>Whilst neither we, nor any other organization, can guarantee the security of information processed online, we do have appropriate security measures in place to protect your personal information. For example, we store the personal information
                you provide on computer systems with limited access that are located in facilities to which access is limited.</p>
            <p>To further protect your privacy and security, we reserve the right to take reasonable steps (such as requesting your password) to verify your identity before granting you profile access or making corrections.</p>
            <p>Additionally, you should ensure your password is kept secret at all times. You will be responsible for maintaining the secrecy of your password and account information.</p>

            <h4>CHANGES AND UPDATES TO INFORMATION:</h4>
            <p>This Privacy Policy may be revised from time to time and this will be reflected by the "Last update posted" date above. Please revisit this page to stay aware of any change</p>
            <p>The User is responsible for keeping his/her information current. The User may update his/her information by contacting us.</p>
        </div>
    </div>
</section>